<% content_for :title, "Meters | Show" %>

<br>
<div class="row">
  <div class="col-md-12 table-responsive">

    <h5>Meters:</h5>

    <table class="table table-striped table-sm" style="font-size: 13px; margin-left: 15px">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Meter name</th>
          <th scope="col">Meter Number</th>
          <th scope="col">NLC</th>
          <th scope="col">Operator</th>
          <th scope="col">Company</th>
          <th scope="col">Kt</th>
        </tr>
      </thead>
      <tbody>
        <% @meters.each_with_index do |meter, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= meter.name %></td>
            <td><%= meter.number %></td>
            <td><%= link_to meter.nlc, day_meter_path(meter) %></td>
            <td><%= meter.operator.name %></td>
            <td><%= meter.company.name %></td>
            <td><%= meter.kt %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

        <div class="border-bottom"></div>
    <br>


    <div class="row">

      <div class="col-auto">
        <% if false %>
        <%= link_to "1H", '/meters/hour(:ids => @ids)', :class => "btn btn-outline-primary btn-sm #{"active" if request.original_url.include? "hour"}", :role => "button" %>
        <%= link_to "1D", '/meters/day', :class => "btn btn-outline-primary btn-sm #{"active" if request.original_url.include? "day"}", :role => "button" %>        
        <%= link_to "1M", 'meters/month', :class => "btn btn-outline-primary btn-sm #{"active" if request.original_url.include? "month"}", :role => "button" %>
        <% end %>

    
        <%= form_tag "/meters/hour", method: :get do %>
          <% @ids.each do |id| %>
            <%= hidden_field_tag 'ids[]', id %>
          <% end %>
          <%= submit_tag '1H', class: 'btn-outline-primary btn-sm' %>
        <% end %>

        <%= form_tag "/meters/day", method: :get do %>
          <% @ids.each do |id| %>
            <%= hidden_field_tag 'ids[]', id %>
          <% end %>
          <%= submit_tag '1D', class: 'btn-outline-primary btn-sm' %>
        <% end %>

        <%= form_tag "/meters/month", method: :get do %>
          <% @ids.each do |id| %>
            <%= hidden_field_tag 'ids[]', id %>
          <% end %>
          <%= submit_tag '1M', class: 'btn-outline-primary btn-sm' %>
        <% end %>

      </div>
      
      <div class="col-auto">

        <div class="form-inline">
          <%= form_tag "/meters/day", method: :get do %>
            <% @ids.each do |id| %>
              <%= hidden_field_tag 'ids[]', id %>
            <% end %>
            <%= text_field_tag 'daterange', params[:daterange], placeholder: 'Enter the Date', class: 'flatpickr' %>
            <%= submit_tag 'Select', name: :datepicker, class: 'btn-primary btn-sm' %>
          <% end %>
        </div>

      </div>

      <div class="col-auto float-right">
        <div class="btn-group">
          <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export
          </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#xls">XLS</a>
            <a class="dropdown-item" href="#xml">XML</a>
          </div>
        </div>
      </div>
    </div>

    <br><br>


    <% case @scale %>
    <% when "hour" %>
    
      <div class="row">
        <div class="col-md-6">
          <h6><strong>AEC+</strong></h6>
          <%= line_chart @readings.group(:date).sum(:aec_p) %>
        </div>
        <div class="col-md-6">
          <h6><strong>AEC-</strong></h6>
          <%= line_chart @readings.group(:date).sum(:aec_m) %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h6><strong>REC+</strong></h6>
          <%= line_chart @readings.group(:date).sum(:rec_p) %>
        </div>
        <div class="col-md-6">
          <h6><strong>REC-</strong></h6>
          <%= line_chart @readings.group(:date).sum(:rec_m) %>
        </div>
      </div>

      <br><br>

      <table class="table table-striped table-sm" style="font-size: 13px; margin-left: 15px">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">AEC+, kWh</th>
            <th scope="col">AEC-, kWh</th>
            <th scope="col">REC+, kWh</th>
            <th scope="col">REC-, kWh</th>
          </tr>
        </thead>
        <tbody>
          <tr style="font-weight: bold;">
            <td>Total</td>
            <td><%= @readings.sum(:aec_p).round(4) %></td>
            <td><%= @readings.sum(:aec_m).round(4) %></td>
            <td><%= @readings.sum(:rec_p).round(4) %></td>
            <td><%= @readings.sum(:rec_m).round(4) %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <% @readings.each do |reading| %>
            <tr>
              <td><%= reading.date %></td>
              <td><%= reading.aec_p %></td>
              <td><%= reading.aec_m %></td>
              <td><%= reading.rec_p %></td>
              <td><%= reading.rec_m %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% when "day" %>

      <div class="row">
        <div class="col-md-6">
          <h6><strong>AEC+</strong></h6>
          <%= line_chart @readingsDay.sum(:aec_p) %>
        </div>
        <div class="col-md-6">
          <h6><strong>AEC-</strong></h6>
          <%= line_chart @readingsDay.sum(:aec_m) %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h6><strong>REC+</strong></h6>
          <%= line_chart @readingsDay.sum(:rec_p) %>
        </div>
        <div class="col-md-6">
          <h6><strong>REC-</strong></h6>
          <%= line_chart @readingsDay.sum(:rec_m) %>
        </div>
      </div>

      <br><br>

      <table class="table table-striped table-sm" style="font-size: 13px; margin-left: 15px">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">AEC+, kWh</th>
            <th scope="col">AEC-, kWh</th>
            <th scope="col">REC+, kWh</th>
            <th scope="col">REC-, kWh</th>
          </tr>
        </thead>
        <tbody>
          <tr style="font-weight: bold;">
            <td>Total</td>
            <td><%= @readings.sum(:aec_p).round(4) %></td>
            <td><%= @readings.sum(:aec_m).round(4) %></td>
            <td><%= @readings.sum(:rec_p).round(4) %></td>
            <td><%= @readings.sum(:rec_m).round(4) %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
         <% @aec_p.each do |key, aec_p| %>
          <tr>
            <td><%= key %></td>
            <td><%= aec_p.round(4) %></td>
            <td><%= @aec_m[key].round(4) %></td>
            <td><%= @rec_p[key].round(4) %></td>
            <td><%= @rec_m[key].round(4) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    <% when "month" %>
      <div class="row">
        <div class="col-md-6">
          <h6><strong>AEC+</strong></h6>
          <%= line_chart @readingsMonth.sum(:aec_p) %>
        </div>
        <div class="col-md-6">
          <h6><strong>AEC-</strong></h6>
          <%= line_chart @readingsMonth.sum(:aec_m) %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h6><strong>REC+</strong></h6>
          <%= line_chart @readingsMonth.sum(:rec_p) %>
        </div>
        <div class="col-md-6">
          <h6><strong>REC-</strong></h6>
          <%= line_chart @readingsMonth.sum(:rec_m) %>
        </div>
      </div>

      <br><br>

      <table class="table table-striped table-sm" style="font-size: 13px; margin-left: 15px">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">AEC+, kWh</th>
            <th scope="col">AEC-, kWh</th>
            <th scope="col">REC+, kWh</th>
            <th scope="col">REC-, kWh</th>
          </tr>
        </thead>
        <tbody>
          <tr style="font-weight: bold;">
            <td>Total</td>
            <td><%= @readings.sum(:aec_p).round(4) %></td>
            <td><%= @readings.sum(:aec_m).round(4) %></td>
            <td><%= @readings.sum(:rec_p).round(4) %></td>
            <td><%= @readings.sum(:rec_m).round(4) %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
         <% @aec_p.each do |key, aec_p| %>
          <tr>
            <td><%= key %></td>
            <td><%= aec_p.round(4) %></td>
            <td><%= @aec_m[key].round(4) %></td>
            <td><%= @rec_p[key].round(4) %></td>
            <td><%= @rec_m[key].round(4) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>


    <% end %>

  </div>
</div>


<% if false%>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%= @ids %>
<br>

<div>

  <%= form_tag "/meters/day", method: :get do %>
    <% @operators_nav.each do |operator| %>
      <li class="link"><%= image_tag('server', class: 'menu_icon') + operator.name %></li>
      <ul class="nested" style="list-style: outside none none;">
        <% @companies_nav.each do |company| %>
          <li class="link"><%= company.name %></li>
            <ul class="nested" style="list-style: outside none none;">
            <% meters = Meter.where(company_id: company.id) %>
              <% meters.each do |meter| %>
                <li class="nav-item">

                    <%= check_box_tag 'ids[]', meter.id, (true if meter.id == params[:id].to_i or @ids.include? meter.id.to_s) %>
                    <%= link_to image_tag('git-commit.svg', class: 'menu_icon') + meter.nlc, day_meter_path(meter), class: "link-nested #{'link-active' if meter.id == params[:id].to_i}" %> 

                </li>
              <% end %>
            </ul>
        <% end %>
      </ul>
    <% end %>

    <%= submit_tag 'Select', class: 'btn-primary btn-sm' %>
  
  <% end %>
</div>
<%end %>