<% content_for :title, "Edit Operator" %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Edit Operator</h1>
</div>


<%= form_for @operator do |f| %>
  
  <div class="form-group row">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: "Operator", class: 'form-control' %>
  </div>

  <div class="form-group row">
    <%= f.label :description %>
    <%= f.text_field :description, autofocus: true, autocomplete: "Description", class: 'form-control' %>
  </div>

  <%= f.submit "Submit", class: 'btn btn-success' %>
  <%= link_to "Cancel", meters_path, class: 'btn btn-secondary' %>

<% end %>